<form class="insertAnnuncioForm" [formGroup]="insertAnnuncioForm">

<div class="form-group">
    <label for="testoAnnuncio">Testo annuncio</label>
    <input type="text" 
      class="form-control" 
      name="testoAnnuncio" 
      id="testoAnnuncio"  
      formControlName="testoAnnuncio">
  </div>

  <div class="form-group">
    <label for="prezzo">Prezzo</label>
    <input type="number" 
      class="form-control" 
      name="prezzo" 
      id="prezzo"  
      formControlName="prezzo">
  </div>

	<div *ngFor="let cat of arrayCategory">
		<input type="radio" (change)="onChange(cat, $event.target.checked)" name="category"> {{cat.nome}}<br>
  </div>
  
  <br>
        
    <button 
      style="width: 100px; text-align: center"
      type="button" 
      name="" id="" 
      class="btn btn-dark btn-lg btn-block" 
      (click)="save()" 
      [disabled]="insertAnnuncioForm.invalid"> 
      Salva
    </button>
</form>

<pre> {{insertAnnuncioForm.value | json}}</pre>