.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 550px;
    align-items: center;
    
    div {
        margin: 5px;
        h1 {
            text-transform: capitalize;
        }
    }
}